/*
NAME: AURORA


*/

/* Tailwind */

{ 'amaranth': { DEFAULT: '#f00054', 100: '#300011', 200: '#600022', 300: '#900032', 400: '#c00043', 500: '#f00054', 600: '#ff2772', 700: '#ff5d96', 800: '#ff93b9', 900: '#ffc9dc' }, 'fandango': { DEFAULT: '#b5179e', 100: '#24051f', 200: '#48093f', 300: '#6c0e5e', 400: '#90137e', 500: '#b5179e', 600: '#e326c7', 700: '#ea5dd5', 800: '#f193e3', 900: '#f8c9f1' }, 'malachite': { DEFAULT: '#07da46', 100: '#012c0e', 200: '#03571c', 300: '#04832a', 400: '#05ae38', 500: '#07da46', 600: '#21f862', 700: '#59fa89', 800: '#90fcb0', 900: '#c8fdd8' }, 'electric-indigo': { DEFAULT: '#6c0aff', 100: '#150035', 200: '#2a006a', 300: '#40009f', 400: '#5500d4', 500: '#6c0aff', 600: '#893bff', 700: '#a76cff', 800: '#c49dff', 900: '#e2ceff' }, 'zaffre': { DEFAULT: '#3a0ca3', 100: '#0b0220', 200: '#170541', 300: '#220761', 400: '#2e0a81', 500: '#3a0ca3', 600: '#4f11e0', 700: '#7743f1', 800: '#a582f6', 900: '#d2c0fa' }, 'dark-purple': { DEFAULT: '#0d061e', 100: '#030106', 200: '#05020c', 300: '#080412', 400: '#0a0518', 500: '#0d061e', 600: '#30166d', 700: '#5325bc', 800: '#8761e0', 900: '#c3b0ef' } }


/* Tailwind 4.x*: add to themes.css inside a @theme {}*/
--color-amaranth: #f00054;
--color-amaranth-100: #300011;
--color-amaranth-200: #600022;
--color-amaranth-300: #900032;
--color-amaranth-400: #c00043;
--color-amaranth-500: #f00054;
--color-amaranth-600: #ff2772;
--color-amaranth-700: #ff5d96;
--color-amaranth-800: #ff93b9;
--color-amaranth-900: #ffc9dc;
--color-fandango: #b5179e;
--color-fandango-100: #24051f;
--color-fandango-200: #48093f;
--color-fandango-300: #6c0e5e;
--color-fandango-400: #90137e;
--color-fandango-500: #b5179e;
--color-fandango-600: #e326c7;
--color-fandango-700: #ea5dd5;
--color-fandango-800: #f193e3;
--color-fandango-900: #f8c9f1;
--color-malachite: #07da46;
--color-malachite-100: #012c0e;
--color-malachite-200: #03571c;
--color-malachite-300: #04832a;
--color-malachite-400: #05ae38;
--color-malachite-500: #07da46;
--color-malachite-600: #21f862;
--color-malachite-700: #59fa89;
--color-malachite-800: #90fcb0;
--color-malachite-900: #c8fdd8;
--color-electric-indigo: #6c0aff;
--color-electric-indigo-100: #150035;
--color-electric-indigo-200: #2a006a;
--color-electric-indigo-300: #40009f;
--color-electric-indigo-400: #5500d4;
--color-electric-indigo-500: #6c0aff;
--color-electric-indigo-600: #893bff;
--color-electric-indigo-700: #a76cff;
--color-electric-indigo-800: #c49dff;
--color-electric-indigo-900: #e2ceff;
--color-zaffre: #3a0ca3;
--color-zaffre-100: #0b0220;
--color-zaffre-200: #170541;
--color-zaffre-300: #220761;
--color-zaffre-400: #2e0a81;
--color-zaffre-500: #3a0ca3;
--color-zaffre-600: #4f11e0;
--color-zaffre-700: #7743f1;
--color-zaffre-800: #a582f6;
--color-zaffre-900: #d2c0fa;
--color-dark-purple: #0d061e;
--color-dark-purple-100: #030106;
--color-dark-purple-200: #05020c;
--color-dark-purple-300: #080412;
--color-dark-purple-400: #0a0518;
--color-dark-purple-500: #0d061e;
--color-dark-purple-600: #30166d;
--color-dark-purple-700: #5325bc;
--color-dark-purple-800: #8761e0;
--color-dark-purple-900: #c3b0ef;