:root 
{
		--green: #00ff00ff;
		--blue: #0000ffff;
		--red: #ff0000ff;
		--yellow: #ffff00ff;
		--fuchsia: #ff00ffff;
		--cyan-rgb: #00ffffff;
		--electric-violet: #8800ffff;
		--rose: #ff0077ff;
		--pumpkin: #ff6600ff;
		--shocking-pink: #ff00bbff;
}


