/*
╔══════════════════════════════════════════════════════════════════════════════╗
║                                                                              ║
║ NAME: OFFICE SPACE                                                           ║
║ #f7f7f2, #e4e6c3, #899878, #222725, #121113                                  ║
║                                                                              ║
╚══════════════════════════════════════════════════════════════════════════════╝
*/

{"Baby powder":"f7f7f2","Beige":"e4e6c3","Moss green":"899878","Eerie black":"222725","Night":"121113"}



/* Tailwind */
{ 'baby-powder': { DEFAULT: '#f7f7f2', 100: '#3d3d25', 200: '#79794a', 300: '#adad79', 400: '#d2d2b6', 500: '#f7f7f2', 600: '#f9f9f5', 700: '#fafaf7', 800: '#fcfcfa', 900: '#fdfdfc' }, 'beige': { DEFAULT: '#e4e6c3', 100: '#3a3c19', 200: '#747732', 300: '#aeb34b', 400: '#c9cc86', 500: '#e4e6c3', 600: '#e9ebce', 700: '#eff0da', 800: '#f4f5e7', 900: '#fafaf3' }, 'moss-green': { DEFAULT: '#899878', 100: '#1b1f18', 200: '#373d2f', 300: '#525c47', 400: '#6d7a5e', 500: '#899878', 600: '#a0ac93', 700: '#b8c0ae', 800: '#cfd5c9', 900: '#e7eae4' }, 'eerie-black': { DEFAULT: '#222725', 100: '#070807', 200: '#0d0f0e', 300: '#141716', 400: '#1b1f1d', 500: '#222725', 600: '#4a5551', 700: '#73847d', 800: '#a1ada9', 900: '#d0d6d4' }, 'night': { DEFAULT: '#121113', 100: '#040304', 200: '#070708', 300: '#0b0a0b', 400: '#0e0d0f', 500: '#121113', 600: '#413d45', 700: '#716a77', 800: '#a09aa6', 900: '#d0cdd2' } }

/* Tailwind 4.x*: add to themes.css inside a @theme {}*/
--color-baby-powder: #f7f7f2;
--color-baby-powder-100: #3d3d25;
--color-baby-powder-200: #79794a;
--color-baby-powder-300: #adad79;
--color-baby-powder-400: #d2d2b6;
--color-baby-powder-500: #f7f7f2;
--color-baby-powder-600: #f9f9f5;
--color-baby-powder-700: #fafaf7;
--color-baby-powder-800: #fcfcfa;
--color-baby-powder-900: #fdfdfc;
--color-beige: #e4e6c3;
--color-beige-100: #3a3c19;
--color-beige-200: #747732;
--color-beige-300: #aeb34b;
--color-beige-400: #c9cc86;
--color-beige-500: #e4e6c3;
--color-beige-600: #e9ebce;
--color-beige-700: #eff0da;
--color-beige-800: #f4f5e7;
--color-beige-900: #fafaf3;
--color-moss-green: #899878;
--color-moss-green-100: #1b1f18;
--color-moss-green-200: #373d2f;
--color-moss-green-300: #525c47;
--color-moss-green-400: #6d7a5e;
--color-moss-green-500: #899878;
--color-moss-green-600: #a0ac93;
--color-moss-green-700: #b8c0ae;
--color-moss-green-800: #cfd5c9;
--color-moss-green-900: #e7eae4;
--color-eerie-black: #222725;
--color-eerie-black-100: #070807;
--color-eerie-black-200: #0d0f0e;
--color-eerie-black-300: #141716;
--color-eerie-black-400: #1b1f1d;
--color-eerie-black-500: #222725;
--color-eerie-black-600: #4a5551;
--color-eerie-black-700: #73847d;
--color-eerie-black-800: #a1ada9;
--color-eerie-black-900: #d0d6d4;
--color-night: #121113;
--color-night-100: #040304;
--color-night-200: #070708;
--color-night-300: #0b0a0b;
--color-night-400: #0e0d0f;
--color-night-500: #121113;
--color-night-600: #413d45;
--color-night-700: #716a77;
--color-night-800: #a09aa6;
--color-night-900: #d0cdd2;
