/*
╔══════════════════════════════════════════════════════════════════════════════╗
║                                                                              ║
║ Name: PURPLE SKY FROM DEEP IN THE FOREST                                     ║
║ #212f45, #065a60, #272640, #312244, #4d194d                                  ║
║                                                                              ║
╚══════════════════════════════════════════════════════════════════════════════╝
*/

{"Prussian blue":"212f45","Midnight green":"065a60","Space cadet":"272640","Dark purple":"312244","Palatinate":"4d194d"}

/* Tailwind */

{ 'prussian-blue': { DEFAULT: '#212f45', 100: '#07090e', 200: '#0d131c', 300: '#141c29', 400: '#1b2537', 500: '#212f45', 600: '#3c547c', 700: '#5a7baf', 800: '#91a7ca', 900: '#c8d3e4' }, 'midnight-green': { DEFAULT: '#065a60', 100: '#011213', 200: '#022426', 300: '#04363a', 400: '#05484d', 500: '#065a60', 600: '#0ba2ad', 700: '#19e2f0', 800: '#66ecf5', 900: '#b2f5fa' }, 'space-cadet': { DEFAULT: '#272640', 100: '#08080d', 200: '#100f1a', 300: '#171726', 400: '#1f1f33', 500: '#272640', 600: '#464573', 700: '#6866a3', 800: '#9a99c2', 900: '#cdcce0' }, 'dark-purple': { DEFAULT: '#312244', 100: '#0a070e', 200: '#140e1b', 300: '#1d1529', 400: '#271b36', 500: '#312244', 600: '#583e7a', 700: '#7f5cad', 800: '#aa92c8', 900: '#d4c9e4' }, 'palatinate': { DEFAULT: '#4d194d', 100: '#0f050f', 200: '#1f0a1f', 300: '#2e0f2e', 400: '#3e143e', 500: '#4d194d', 600: '#8b2d8b', 700: '#c346c3', 800: '#d784d7', 900: '#ebc1eb' } }



/* Tailwind 4.x*: add to themes.css inside a @theme {}*/
--color-prussian-blue: #212f45;
--color-prussian-blue-100: #07090e;
--color-prussian-blue-200: #0d131c;
--color-prussian-blue-300: #141c29;
--color-prussian-blue-400: #1b2537;
--color-prussian-blue-500: #212f45;
--color-prussian-blue-600: #3c547c;
--color-prussian-blue-700: #5a7baf;
--color-prussian-blue-800: #91a7ca;
--color-prussian-blue-900: #c8d3e4;
--color-midnight-green: #065a60;
--color-midnight-green-100: #011213;
--color-midnight-green-200: #022426;
--color-midnight-green-300: #04363a;
--color-midnight-green-400: #05484d;
--color-midnight-green-500: #065a60;
--color-midnight-green-600: #0ba2ad;
--color-midnight-green-700: #19e2f0;
--color-midnight-green-800: #66ecf5;
--color-midnight-green-900: #b2f5fa;
--color-space-cadet: #272640;
--color-space-cadet-100: #08080d;
--color-space-cadet-200: #100f1a;
--color-space-cadet-300: #171726;
--color-space-cadet-400: #1f1f33;
--color-space-cadet-500: #272640;
--color-space-cadet-600: #464573;
--color-space-cadet-700: #6866a3;
--color-space-cadet-800: #9a99c2;
--color-space-cadet-900: #cdcce0;
--color-dark-purple: #312244;
--color-dark-purple-100: #0a070e;
--color-dark-purple-200: #140e1b;
--color-dark-purple-300: #1d1529;
--color-dark-purple-400: #271b36;
--color-dark-purple-500: #312244;
--color-dark-purple-600: #583e7a;
--color-dark-purple-700: #7f5cad;
--color-dark-purple-800: #aa92c8;
--color-dark-purple-900: #d4c9e4;
--color-palatinate: #4d194d;
--color-palatinate-100: #0f050f;
--color-palatinate-200: #1f0a1f;
--color-palatinate-300: #2e0f2e;
--color-palatinate-400: #3e143e;
--color-palatinate-500: #4d194d;
--color-palatinate-600: #8b2d8b;
--color-palatinate-700: #c346c3;
--color-palatinate-800: #d784d7;
--color-palatinate-900: #ebc1eb;
