:root 
{
--caribbean-current: #006466ff;
--midnight-green: #065a60ff;
--midnight-green-2: #0b525bff;
--midnight-green-3: #144552ff;
--charcoal: #1b3a4bff;
--prussian-blue: #212f45ff;
--space-cadet: #272640ff;
--dark-purple: #312244ff;
--dark-purple-2: #3e1f47ff;
--palatinate: #4d194dff;
}
